{% extends "home.html" %}
{% block about %}
<div >
    <h4 id='about'> This is a project by <a href='https://www.linkedin.com/in/nazar-yaremko-56656715b/'>Nazar Yaremko</a>, <a href='https://www.linkedin.com/in/enjui-chang/'>Enjui Chang</a>, <a href="https://www.linkedin.com/in/amenti-kenea/">Amenti Kenea</a> and <a href="https://www.linkedin.com/in/cameron-watts-7b9111172/">Cameron Watts<a> in which we implemented a Spotify recommendtion system that takes a playlist link as an input and outputs a list of song recommendations based on various audio features. To read more about about the main componets of this project, feel free to read the following articles: </h3>
        <ul>
            <li> <a href="https://cameronwwatts.medium.com/extracting-song-data-from-the-spotify-api-using-python-b1e79388d50"> Extracting song data from Spotify’s API in Python </a></li>
            <li> <a href="https://medium.com/p/6d755624f787/edit"> EDA and Clustering </a></li>
            <li> <a href="https://medium.com/@enjui.chang/part-iii-building-a-song-recommendation-system-with-spotify-cf76b52705e7"> Building a Song Recommendation System with Spotify </a></li>
        </ul>
</div>
{% endblock %}